[packages]
langchain = "*"
beautifulsoup4 = "*"
black = "*"
tiktoken = "*"
openai = "*"
pinecone-client = "*"
unstructured = "*"
nltk = "*"
python-magic-bin = "*"
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
streamlit = "*"
streamlit-chat = "*"
tqdm = "*"
audio_recorder_streamlit="*"
python-dotenv= "*"
langchain_openai="*"
boto3="*"
snowflake="*"
fpdf="*"
matplotlib="*"
wordcloud="*"
seaborn="*"
[dev-packages]

[requires]
python_version = "3.12"